h2,
p {
  margin: 0;
}

body {
  font-family: 'Montserrat';
}

.breed-select {
  max-width: 300px;
  margin-bottom: 20px;
}

.select-option {
  color: white;
  background-color: rgba(0, 0, 0, 0.123);
}

.cat-img {
  display: block;
  height: auto;
  margin-right: auto;
}

.cat-info {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.cat-info-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
}

.cat-temperament-title {
  font-weight: 700;
}

.hidden {
  display: none;
}
